<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tech.lfy.mapper.EnglishArticleMapper">

    <resultMap id="resultType" type="com.tech.lfy.model.EnglishArticleEntity">
        <result column="id" property="id" jdbcType="VARCHAR"/>
        <result column="article" property="article" jdbcType="VARCHAR"/>
        <result column="expess" property="expess" jdbcType="VARCHAR"/>
        <result column="state" property="state" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="getEnglishArticle" resultMap="resultType"  parameterType="String">
        SELECT
          id,article,expess,state
        FROM English_article
        WHERE state = #{state}
    </select>

</mapper>