<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.tech.lfy.mapper.PhoneMapper">
    <resultMap id="BaseResultMap" type="com.tech.lfy.model.PhoneEntity">
        <id column="ID" property="id" jdbcType="INTEGER" />
        <result column="phone_no" property="phoneNO" jdbcType="VARCHAR" />
        <result column="user_name" property="userName" jdbcType="VARCHAR" />
        <result column="identity" property="identity" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="DATE" />

    </resultMap>

    <select id="getPhones" resultMap="BaseResultMap">
        SELECT id,phone_no,user_name,identity,create_time
        FROM PHONE
        <if test="phoneNO != null and phoneNO != ''">
            <![CDATA[ WHERE phone_no = #{phoneNO,jdbcType=VARCHAR}]]>
        </if>
        ORDER BY create_time
    </select>

    <select id="getPhoneCount" resultType="java.lang.Integer">
        SELECT count(id)
        FROM PHONE
        <if test="phoneNO != null and phoneNO != ''">
            <![CDATA[ WHERE phone_no = #{phoneNO,jdbcType=VARCHAR}]]>
        </if>
    </select>

    <insert id="insertPhone" parameterType="com.tech.lfy.model.PhoneEntity">
        INSERT INTO PHONE (phone_no,user_name,identity,create_time)
        VALUES (#{phoneNO},#{userName},#{identity},now())
    </insert>
</mapper>